head {
    display: none;
}

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

.banner {
  background-image: url('photo.jpg');
  background-size: cover;
  color: white;
  background-position: center;
  padding: 120px 0;
  text-align: center;
}

.banner h1 {
  font-size: 38px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  /* display: block; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #4352A1;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
